/* Wikistyle.css is for the Blockmadness Wiki pages. Stylesheet made by Arjan Dob
* This style sheet contains all CSS for our Wiki buttons and notices! *
* The css page is posted on Github because we can auto import from github to out hosting!
Only have to call the sheet in the wiki page!*/

/*Header notice bar for main wiki page */
/*Global Styling*/
.alert
	{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px;}
.alert h4
	{margin-top:0;color:inherit;}
.alert 
.alert-link
	{font-weight:bold;}
/*Styling Sucess (Green)*/
.alert-success
	{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6;}
.alert-success hr
	{border-top-color:#c9e2b3;}
.alert-success
.alert-link
	{color:#2b542c;}
/*Styling info(Blue)*/
.alert-info
	{color:#31708f;background-color:#d9edf7;border-color:#bce8f1;}
.alert-info hr
	{border-top-color:#a6e1ec;}
.alert-info 
.alert-link
	{color:#245269;}
/*Styling Warning (Yellow)*/
.alert-warning
	{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;}
.alert-warning hr
	{border-top-color:#f7e1b5;}
.alert-warning 
.alert-link
	{color:#66512c;}
/*Styling Danger (Red)*/
.alert-danger
	{color:#a94442;background-color:#f2dede;border-color:#ebccd1;}
.alert-danger hr
	{border-top-color:#e4b9c0;}
.alert-danger 
.alert-link
	{color:#843534;}
/*text tyleing */
a
	{color:#4993c5;} 
a:hover
	{color:#5e5e5e;}

/* general wiki button style */
a[href]:hover{text-decoration:none!important;}
.wiki-buttons{border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;padding:20px;font-size:20px;color:#fff;min-width:200px;width:200px;margin:3px;text-align:center;transition:background-color .25s ease;text-decoration:none!important;_text-decoration:none!important;font-weight:bold;}
.wiki-buttons:hover{text-decoration:none!important;_text-decoration:none!important;}
/* green button class */
.green-button{box-shadow:0 4px 0 0 #007800;background-color:#00AA00;}
.green-button:hover{background-color:#007800;}
.green-button:active{background-color:#007800;}
/* blue button class */
.blue-button{box-shadow:0 4px 0 0 #1c5571;background-color:#236B8E;}
.blue-button:hover{background-color:#1c5571;}
.blue-button:active{background-color:#16445a;}
/* grey button class */
.grey-button{box-shadow:0 4px 0 0 #787878;background-color:#909090;}
.grey-button:hover{background-color:#787878;}
.grey-button:active{background-color:#404040;}
/* red button class */
.red-button{box-shadow:0 4px 0 0 #b30000;background-color:#cd0000;}
.red-button:hover{background-color: #b30000;}
.red-button:active{background-color:#b30000;}
/*End of styling sheet */